{% load static %}
<div class="hero p-5 bg-primary rounded-5 text-light mt-4">
    <div class="d-flex gap-3">
        <div class="col col-8 d-grid flex-column">
            <h1 class="text-body-emphasis fw-bold mb-3">Recipe</h1>
            <h4 class="text-danger mt-5 fw-bolder lh-lg">
                Join the Flavorful Fiesta: Your Invitation to <br >
                a Never-Ending Recipe Contest!
            </h4>
            <button class="btn btn-dark rounded-5 px-3 mt-5 fw-bold">Find more</button>
        </div>
        <div class="col col-4 d-flex justify-content-end align-items-center border-5">
            <div class="w-100">
                <img class="w-100 rounded-4 shadow-sm" src="{% static 'images/hero.jpg' %}" alt="Hero Image">
            </div>
        </div>
    </div>
</div>