<div class="hero p-5 bg-body-tertiary rounded-5" >
    <div class="d-flex">
        <div class="col col-5">
            <h1 class="text-body-emphasis fw-10">Recipe</h1>
            <h5 class="text-danger fs-10 mt-4">
                Join the Flavorful Fiesta: Your Invitation to a 
            </h5>
            <h5 class="text-danger fs-10">
                Never-Ending Recipe Contest!
            </h5>
            <button class="btn btn-outline-dark rounded-5 px-5 mt-5">Find more </button>
        </div>
        <div class="col col-7">

        </div>
    </div>
    
</div>
 